.pembukaan {
    padding: 0;
    min-height: auto;
    .image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        filter: grayscale(1);
        opacity: 0.15;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            @media screen and (max-width: 768px) {
                object-fit: cover;
            }
        }
    }
    .wrap-detikx {
        margin-top: -80vh;
    }
}
