.potret {
    .full-kereta {
        position: relative;
        width: 100%;
        height: auto;
        // scale: 1.1;
        @media screen and (max-width: 768px) {
            scale: 1.2;
            margin-bottom: 32px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .contentx {
        border-left: 1px solid #ccc;
        padding-left: 16px;
        ul {
            li {
                list-style-type: none;
                margin-bottom: 32px;
            }
        }
    }

    svg {
        width: 100%;
        height: auto;
    }
}

.train,
.trainbase {
    stroke-dasharray: 50 2320 50 4 50 4;
    animation-duration: 13s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.train {
    fill: none;
    stroke: #545454;
    stroke-width: 19;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.trainbase {
    fill: none;
    stroke: #efefef;
    stroke-width: 19;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.traintrax {
    fill: none;
    stroke-width: 19;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.greenline.train,
.greenline.trainbase {
    stroke-dashoffset: 60;
    animation-name: dash;
}
@keyframes dash {
    17% {
        stroke-dashoffset: 60;
    }
    57%,
    62% {
        stroke-dashoffset: 1621;
    }
    90%,
    100% {
        stroke-dashoffset: 2360;
    }
}
.blueline.train,
.blueline.trainbase {
    stroke-dashoffset: 1020;
    animation-name: dash2;
    animation-delay: 4s;
}
@keyframes dash2 {
    17% {
        stroke-dashoffset: 1020;
    }
    45%,
    50% {
        stroke-dashoffset: 1580;
    }
    90%,
    100% {
        stroke-dashoffset: 2360;
    }
}
.redline.train,
.redline.trainbase {
    stroke-dasharray: 50 2620 50 4 50 4;
    stroke-dashoffset: 150;
    animation-name: dash3;
    animation-delay: 1s;
}
@keyframes dash3 {
    17% {
        stroke-dashoffset: 150;
    }
    65%,
    70% {
        stroke-dashoffset: 2020;
    }
    90%,
    100% {
        stroke-dashoffset: 2660;
    }
}

.embed {
    background: #5fb1e1;
    min-height: auto;
    .image {
        width: 100%;
        height: 480px;
        margin-bottom: 24px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    iframe {
        width: 260px;
        border: 6px solid black;
        border-radius: 24px;
        height: 480px;
        margin: 0 auto;
    }
}

.box-bg {
    background: rgba($color: #000000, $alpha: 0.4);
    padding: 16px;
    margin-bottom: 24px;
    // border-radius: 16px;
    p {
        margin-bottom: 0;
    }
}
